.about {
  margin: 0 auto;
  // margin-top: -2px;
  padding: 100px 70px;
  &__info {
    margin: 0;
    // margin-top: 2px;
    width: calc(100% - 220px);
    padding: 100px 110px;
    box-shadow: 0px 0px 32px 0px rgba(0, 0, 0, 0.08);
    color: rgb(68, 68, 68);
    font-size: 32px;
    font-weight: 600;
    line-height: 120%;
    letter-spacing: 0%;
    text-align: center;
  }
  &__name {
    color: rgb(163, 12, 51);
  }

  &__numbers {
    margin: 100px auto;
    padding: 0 110px;
    width: 100%;
    // width: calc(100% - 221px);
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    // align-items: center;
    column-gap: 185px;
    row-gap: 78px;
    max-width: 889px;
  }
  &__number {
    flex-direction: column;
    gap: 4px;
    margin: 0;
    max-width: 240px;
  }

  &__numberTitle {
    margin: 0;
    color: rgb(163, 12, 51);
    font-size: 80px;
    font-weight: 600;
    line-height: 80%;
    letter-spacing: 0%;
  }
  &__numberText {
    color: rgb(68, 68, 68);
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-align: left;
    display: inline-block;
  }

  &__numberSymb {
    color: #a30c33;
    font-family: "Proxima Nova Bl";
    font-size: 64px;
    height: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 100%; /* 64px */
    margin-right: 10px;

    &Pl {
      color: #a30c33;
      font-size: 64px;
      font-style: normal;
      font-weight: 600;
      line-height: 100%; /* 64px */
      margin-left: 10px;
      margin-right: -25px;
    }
  }
}
@media screen and (max-width: 320px) {
  .about {
    padding: 60px 0 50px;

    &__info {
      width: calc(100% - 10px);
      font-size: 16px;
      line-height: 19.2px;
      padding: 24px 5px;
    }
    &__numbers {
      // width: calc(100% - 26px);
      width: 100%;
      margin-top: 50px;
      margin-bottom: 0;
      padding: 0;
      column-gap: 8px;
      row-gap: 24px;
      justify-content: space-evenly;
    }
    &__number {
      flex-direction: column;
      gap: 4px;
      margin: 0;
      max-width: 180px;
    }
    &__numberTitle {
      font-size: 40px;
      line-height: 32px;
      text-align: center;
    }
    &__numberText {
      font-size: 16px;
      text-align: center;
    }
    &__numberSymb {
      font-size: 30px;
      text-align: left;
      margin-right: 4px;

      &Pl {
        font-size: 30px;
        margin-left: 4px;
        // margin-right: -25px;
      }
    }
  }
}
