@import url(./src/shared/style/normalize.css);

@import url(./src/shared/assets/fonts/Proxima/proximaNova.css);

@import url(./src/blocks/app/app.scss);
@import url(./src/blocks/header/header.scss);
@import url(./src/blocks/promo/promo.scss);
@import url(./src/blocks/about/about.scss);
@import url(./src/blocks/mission/mission.scss);
@import url(./src/blocks/buisness/buisness.scss);

body {
  margin: 0, auto;
  background-color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Proxima Nova", sans-serif;
}
a {
  text-decoration: none;
}

.title {
  font-size: 56px;
  font-style: normal;
  font-weight: 600;
  line-height: 100%; /* 56px */
}
